/***********************************************************************
 * @Author: Mujtaba Ahmad
 * @Website: http://www.dynamicguru.com
 * @Email: mujtaba_91@yahoo.com
 ***********************************************************************/

* {margin: 0;outline: 0;padding: 0}
body, div, span, p, a, img, ul, ol, li, table, th, tr, td, form, fieldset, legend, dl, dt, dd, blockquote, applet, object {border: 0}
ul, ol {list-style-type:none}
hr {display: none}

body {
    background:#000 url('bg.png') no-repeat top center;
    text-align:center;
    font-family:Arial,sans-serif;
    color:#aaa;
    font-size:12px;
    
    
}

#wrapper {
    text-align:left;
    width:800px;
    margin:0px auto;
}


/************** NAVIGATION *****************************/
#nav {
    height:60px;
    padding:0;
    margin:0;
}

#nav li
{
    padding:0;
    margin:0;
    float: left;
    position:relative;
    list-style: none;
    font: 14px Tahoma,sans-serif;
}

#nav li a
{	display: block;
	padding:19px;
	padding-top:20px;
	text-decoration: none;
	color:#fff;
	text-shadow:#000 1px 1px 1px;
	//text-transform:uppercase;
	white-space: nowrap}
	
#nav>li>a.c {
    color:#fff !important;   
}
#nav li a:hover
{
        color:#fdb14d;
	text-shadow:#000 1px 1px 1px;
}

#nav li ul
		{	margin: 0;
			padding: 0;
			position: absolute;
			top:60px;
                        z-index:100;
			display:none;
			background: #555;
			border-top:none !important;
			    -webkit-box-shadow: 5px 5px 10px #000;  
    -moz-box-shadow: 5px 5px 10px #000;  
    box-shadow: 5px 5px 10px #000;  
			}
		
			#nav li ul li
			{	float: none;
				display: inline}
			
			#nav li ul li a
			{	width: auto;
				text-shadow:none;
				padding:12px;
				border-right:1px solid #541141;
				border-left:1px solid #541141;
				border-bottom:1px solid #1F0411;
				background: #110303;
				color: #bbb}
			
			#nav li ul li a:hover
			{   background:#1F0411;
                            color:#f279d5;
                        }
			#nav li ul li a.last {
			    border-bottom:1px solid #541141 !important;
			}
/*******************************************************/
h1#header {
    height:120px;
    font-size:36px;
    padding:60px 0px 0px 30px;
    letter-spacing:-1px;
    color:#fff;
    text-shadow:#000 1px 1px;
}
#header span {
    display:block;
    font-family:Georgia,serif;
    font-size:16px;
    font-style:italic;
    color:#f279d5;
}

#footerWrap {
    background:#060606;
    text-align:center;
}
#footer {
    margin:0px auto;
    padding:40px;
    width:800px;
    text-align:right;
    color:#555;
}
h2,h3,h4 {
    color:#fff;
    letter-spacing:-1px;
    font-weight:normal;
    margin:10px;
}
h2 {
    font-size:24px;
}
h3 {
    font-size:18px;
}
h3.svc {
    font-weight:normal;
    font-size:24px;
}

ul {
    list-style-type:square;
    margin-left:25px;
}
ul li {
    padding:8px;
}
a:hover {
    color:#f60;
}
a {
    color:#0af;
}
.R { color:#d68478; }
.G {color:#83c2d8;}
.B {color:#a849af;}
.leftBox {
    background:transparent;
    width:550px;
    float:left;
    display:block;
    color:#9d966f;
    
}
.rightBox {
    width:550px;
    float:right;
    display:block;
    color:#9d966f;
    
}

.leftBox>p,.rightBox>p,.portrait>p,#wrapper>p {
    margin:0 10px 10px 10px;
    color:#977580;
    line-height:1.8em;
    letter-spacing:0px;
    word-spacing:4px;
    text-align:justify;
}
.rightBar {
    margin-left:570px;
    display:block;
    line-height:1.8em !important;
}
.leftBar {
    margin-right:570px;
    display:block;
    line-height:1.8em !important;
}
.portrait {
    margin:30px 0;
}
.servicesBox {
    float:left;
    width:240px;
    text-align:center;
    margin-left:20px
}
.servicesBox p {
    text-align:justify;
    font-style:italic;
    line-height:1.6em;
}

.fBox {
    float:left;
    display:block;
    width:600px;
    text-align:left;
}
.fBox img {
    vertical-align:middle;
}
.fBox2 {
    margin-left:620px;
    display:block;
}
.clear {
    clear:both;
    display: block;
    height: 0;
    line-height: 0;
    font-size: 0;
    width: 100%
}

img.fade {
    opacity:0.55;
}